:root {
  font-size: 32px;
}

body {
  font-family: "Fira Sans", sans-serif;
  color: white;
  background-color: black;
  overflow: hidden;
}

p {
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
  margin: 0.4rem 0;
}


.main {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
}

#title {
  position: grid;
  padding: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 5rem;
}

#clock {
  text-align: right;
  font-size: 2rem;
  padding: 0.5rem;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: auto;
  font-family: "Fira Mono", monospace;
}

td + td {
  padding-left: 1rem;
}


#vrr {
  margin: 15px auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#news {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#weather {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}


.weather-icon {
  height: 4rem;
  float: right;
  margin-left: auto;
}
.weather-city {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.weather-temperature {
  float: left;
}

.red {
  color: red;
}
